@import url(https://fonts.googleapis.com/css?family=Open+Sans);

//Default font-size is 18px, font-weight is 400, font-family is Open Sans, sans-serif
@mixin font($size: 18px, $weight: 400) {
    font-size: $size;
    font-weight: $weight;
    font-family: 'Open Sans';
    letter-spacing: 0.1em;
}

//center elements using flex display
@mixin center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

//CSS3 transition
@mixin transition($options...) {
    -webkit-transition: $options;
    -moz-transition: $options;
    -o-transition: $options;
    transition: $options;
}

//button-like links base style
@mixin buttonlike-base($colour: $pure-white) {
    text-decoration: none;
    color: $colour;
    padding: 0.75em 2.25em;
    border: 2px solid $colour;
    &:hover {
        background-color: rgba($colour, 0.15);
        cursor: pointer;
    }
}

//button-like links style 2
@mixin buttonlike-2($colour) {
    color: $pure-white;
    border-color: $colour;
    background-color: $colour;
    &:hover {
        border-color: darken($colour, 5%);
        background-color: darken($colour, 5%);
    }
}

//hover effect
@mixin hover-1($colour) {
    color: $colour;
    &:hover {
        text-decoration: none;
        cursor: pointer;
        color: darken($colour, 5%);
    }
}
@mixin hover-2($colour) {
    background-color: $colour;
    &:hover {
        cursor: pointer;
        background-color: darken($colour, 10%);
    }
}