$orange: lighten(#FF7043, 12%);
$light-red: lighten(#FF6464, 7%);
$red: #FF6464;
$purple: lighten(#AD64C5, 15%);
$pure-white: #FFFFFF;
$milk-white: #FAFAFA;
$exlight-grey: #F5F5F5;
$platinum: #E5E4E2;
$light-grey: #B0BEC5; 
$pure-grey: #9E9E9E;
$dark-grey: #616161;
$pure-black: #000000;